.home-container {
  background: linear-gradient(to bottom, #ffdde1, #ee9ca7);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: "Satisfy", serif;

  &__title {
    font-size: 34px;
    margin: 0;
    text-align: center;
    color: #f8f1f1;

    &--0 {
      font-size: 48px;
      color: #fa8a8a;
    }
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.toolbox {
  margin-top: 54px;
  display: flex;
  gap: 32px;
  height: 42px;
  
  &__button {
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 600;
  }  

  &__mock {
    width: 110px;
    opacity: 0;
  }
}
