.home-container {
  background: linear-gradient(to bottom, #ffdde1, #ee9ca7);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__title {
    font-size: 28px;
    margin: 0;
    text-align: center;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.toolbox {
  margin-top: 64px;
  display: flex;
  gap: 32px;
  height: 42px;
  
  &__button {
    background-color: hsla(285, 32%, 39%, 0.451);
    padding: 10px 0;
    width: 120px;
    border-style: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 4px;
    transition: background-color 0.1s ease-in;
    cursor: pointer;

    &--success:hover {
      background-color: hsla(140, 36%, 41%, 0.451);
    }

    &--error:hover {
      background-color: hsla(4, 44%, 39%, 0.451);
    }
  }  

  &__mock {
    width: 120px;
    opacity: 0;
  }
}
