.order-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  background: linear-gradient(to bottom, #ee9ca7, #fcddff);
}

.delivery-status {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  padding-inline: 16px;
  background-color: #ffdded;
  color: #e97c8b;
  transform: translateX(-20px);
  animation: slideLeft 1s ease-out forwards;
  animation-delay: 0.5s;

  img {
    width: 75px;
    border-radius: 50px;
    box-shadow: 1px 14px 10px -11px rgb(90, 66, 89);
  }

  &__details {
    p {
      margin-block: 8px;
      font-size: 14px;
    }
  }
}

.delivery-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  transform: translateX(20px);
  animation: slideRight 1s ease-out forwards;
  animation-delay: 0.5s;
}

.details-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transform: translateY(20px);
  animation: slideUp 1s ease-out forwards;
  animation-delay: 0.5s;
}

.order-box {
  box-sizing: border-box;
  background-color: #F5F5F5;
  color: #0000005d;
  box-shadow: 2px 4px 60px -19px rgb(149, 119, 151);
  border-radius: 4px;
  width: 300px;
  padding: 12px 24px;

  &--big {
    padding: 16px;
    width: 100%;
    max-width: 856px;
    padding: 16px 24px;

    .order-box__header {
      margin-bottom: 24px;
    }

    @media screen and (max-width: 500px) {
      & {
        max-width: 300px;
      }
    }
  }

  &__header {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 4px;
    color: #f5c0c0;
    font-weight: 500;
  }

  &__content {
    color: #e47e8b;
    font-size: 13px;
    text-align: center;

    p {
      margin: 0;
    }
  }

  &__table {
    color: #000000ee;
    width: 100%;

    th {
      color: #e47e8b;
      font-size: 12px;
      border-bottom: 1px solid #00000018;
      font-weight: 400;
    }

    td {
      color: #e47e8b;
      position: relative;
      font-size: 13px;
      line-height: 3em;

      &.emoji {
        text-align: center;
        font-size: 16px;
      }
    }

    &__item-title {
      padding-left: 32px;
    }
  }
}

.emoji {
  color: white;
}

#wrapper {
	position: absolute;
  top: 14px;
	animation: pulse 1s infinite;
}


#pulsingheart { 
  position: relative; 
  width: 25px; 
  height: 25px;
} 

#pulsingheart:before, #pulsingheart:after { 
  position: absolute; 
  content: ""; 
  left: 12px; 
  top: 0; 
  width: 12px; 
  height: 20px; 
  background: #fc5c5c; 
  border-radius: 12px 12px 0 0; 
  transform: rotate(-45deg);  
  transform-origin: 0 100%;
  animation: pulsecolor 1s infinite;
} 

#pulsingheart:after { 
  left: 0; 
  transform: rotate(45deg); 
  transform-origin :100% 100%;
  animation: pulsecolor 1s infinite;
}

@keyframes pulse {
	10% {transform: scale(1.1)}
}

@keyframes pulsecolor {
  10% {background: #dd0000}
}

@keyframes slideLeft {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
