html, #root, body {
  width: 100%;
}

.container {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}