html, #root, body {
  width: 100%;
}

.container {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-color: #ffdde1;
  color: #ee9ca7;
  border-radius: 30px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(100, 60, 91, 0.116);
  padding-left: 8px;
  margin: 20px auto 10px;
}
